@import "tailwindcss";

@layer components {
  .text-primary {
    color: oklch(55.8% 0.288 302.321);
  }
  .bg-primary {
    background-color: oklch(55.8% 0.288 302.321);
  }
  .hover\:bg-primary:hover {
    color: white;
    background-color: oklch(55.8% 0.288 302.321);
  }
  .button {
    @apply cursor-pointer rounded-md;
  }
  .selected {
    background-color: oklch(55.8% 0.288 302.321);
    color: white;
  }
}
